<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">MarkZSandbox</a>
  <button class="navbar-toggler" (click)="toggleNavBar()" type="button" data-toggle="collapse"
    data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [class.show]="isOpen" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="Active">Home <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/account']" routerLinkActive="Active">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/cart']" routerLinkActive="Active">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/orders']" routerLinkActive="Active">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/products']" routerLinkActive="Active">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="Active">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/signup']" routerLinkActive="Active">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/logout']" routerLinkActive="Active">Logout</a>
      </li>
    </ul>
  </div>
</nav>
